.SkillTree__container {
  margin: 0 8px;
  min-width: fit-content;
}

.SkillTree {
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  padding: 16px 0;
  justify-content: center;
}

.SkillTree__title {
  min-height: 56px;
  min-width: 152px;
}
