.App {
  padding: 80px 32px;
  text-align: center;
  position: relative;
}

.App__header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__body {
  color: white;
  display: flex;
  justify-content: center;
  min-width: fit-content;
}
