.AngledLine {
  border: 1px solid white;
  height: 4px;
  position: absolute;
}

.AngledLine--vertical {
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.AngledLine--horizontal {
  border-left: none;
  border-right: none;
}

.AngledLine--rounded-top-left {
  border-top-left-radius: 8px;
}

.AngledLine--rounded-top-right {
  border-top-right-radius: 8px;
}

.AngledLine--rounded-bottom-left {
  border-bottom-left-radius: 8px;
}

.AngledLine--rounded-bottom-right {
  border-bottom-right-radius: 8px;
}
